body {
	padding: 50px;
	font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ƒqƒ‰ƒMƒmŠpƒS ProN W3', Meiryo, ƒƒCƒŠƒI, sans-serif;
}
a {
  color: #00B7FF;
}
table{
border-collapse:collapse;
}
td{
border:1px solid #000000;
}